@use '@angular/material' as mat;

[color=warn] {
  @include mat.icon-button-overrides((icon-color: red));
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  min-width: 340px;
  width: 100%;
  max-width: 700px;

  > mat-card-header {
    min-height: 40px;
    position: relative;

    mat-card-title > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}
