$red: rgb(235, 43, 71);
$green: rgb(76, 214, 65);
$blue: rgb(60, 170, 223);
$warm-white: rgb(239, 233, 195);

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin color-style($color) {
  ::ng-deep .mdc-slider__track--active_fill {
    border-color: $color !important;
  }
  ::ng-deep .mdc-slider__thumb-knob {
    background-color: $color !important;
    border-color: $color !important;
  }
  ::ng-deep .mdc-switch__track::after {
    background-color: $color !important;
  }
  ::ng-deep .mdc-switch--selected .mdc-switch__icon {
    fill: $color !important;
  }
}

mat-slider.r, mat-slide-toggle.r {
  @include color-style($red);
}

mat-slider.g, mat-slide-toggle.g {
  @include color-style($green);
}

mat-slider.b, mat-slide-toggle.b {
  @include color-style($blue);
}

mat-slider.w, mat-slide-toggle.w {
  @include color-style($warm-white);
}

.color-form {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 0.5rem;
}
